@model Cupcake.Plugin.MessageOpen.Models.MessageOpenMechanismModel
@using Cupcake.Web
@using Cupcake.Plugin.MessageOpen.Helper
@using Cupcake.Web.Framework
@using Cupcake.Core.Domain
@using Cupcake.Web.Models
<div class="container-fluid" id="no">
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="Title">机构名称</label>
                            @Html.EditorFor(m => m.Name)
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="Title">联系电话</label>
                            @Html.EditorFor(m => m.Phone)
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="Title">电子邮箱</label>
                            @Html.EditorFor(m => m.Mailbox)
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="Title">接待时间</label>
                            @Html.TextAreaFor(m => m.MeetTime)

                        </div>
                        @Html.ValidationMessageFor(m => m.MeetTime)
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="Title">地址</label>
                            @Html.TextAreaFor(m => m.Address)

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

 

    $("#no input").prop('disabled', 'disabled');
    $("#no textarea").prop('disabled', 'disabled');
</script>