    @model Cupcake.Core.IPagedList<Cupcake.Plugin.MessageOpen.Domain.MessageOpenMechanismInfo>
    @using Cupcake.Web
  @using Cupcake.Web.Models
    @using Cupcake.Web.Framework
    @using Cupcake.Core.Domain
    @using Cupcake.Plugin.MessageOpen.Helper

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                @{Html.RenderPartial("_WidgetHeader", "工作机构");}
                <div class="widget-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12 form-group text-right">
                                @Html.ButtonShiny("添加", "fa-plus", "showEditModal1('添加','/MessageOpenMechanism/Create')")
                                @Html.ButtonShiny("查找", "fa-search", "loadListView();")
                            </div>
                        </div>
                    }

                    <div class="flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content bordered-palegreen">
                                <tr>
                                    <th>
                                        序号
                                    </th>
                                    <th>
                                        名称
                                    </th>
                                    <th>
                                       电话
                                    </th>
                                    <th>
                                        电子邮箱
                                    </th>
                                    <th>
                                        地址
                                    </th>
                                    <th>
                                        接待时间
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(i++)
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Phone
                                        </td>
                                        <td>
                                            @item.Mailbox
                                        </td>
                                        <td>
                                            @item.Address
                                        </td>
                                        <td>

                                             @item.MeetTime
                                        </td>
                                        <td>

                                            @Html.ButtonXS("查看", "fa-edit", "showViewModal1('查看','/MessageOpenMechanism/Details/" + item.Id + "')")
                                            @Html.ButtonXS("编辑", "fa-edit", "showEditModal1('编辑','/MessageOpenMechanism/Edit/" + item.Id + "')")
                                            <button type="button" class="btn btn-danger btn-xs" onclick="dialog('是否删除?','警告','/MessageOpenMechanism/Delete/@item.Id')"><i class="fa fa-frown-o"></i> 删 除</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="DTTTFooter text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function groupLoad(href) {
            $('.page-body').load(href);
        }
        $(document).ready(function () {
            initFormDate();

            var pageInfo = {
                PageIndex: '@Model.Paging.PageIndex',
                PageSize: '@Model.Paging.PageSize',
                Total: '@Model.Paging.Total'
            };
            initPager(".DTTTFooter", pageInfo, loadListView);
        });
    </script>
