    @model Cupcake.Plugin.MessageOpen.Models.MessageOpenModel
    @using Cupcake.Web
    @using Cupcake.Web.Framework
    @using Cupcake.Core.Domain
    @using Cupcake.Plugin.MessageOpen.Helper
@using Cupcake.Web.Models
    <style>
        .displaynone {
            display: none;
        }
    </style>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @using (Ajax.BeginForm(new AjaxOptions { }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">标题</label>
                                @Html.EditorFor(m => m.Title)
                            </div>
                            @Html.ValidationMessageFor(m => m.Title)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">发布人</label>
                                @Html.EditorFor(m => m.publicName)
                            </div>
                            @Html.ValidationMessageFor(m => m.publicName)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">发布时间</label>
                                @Html.Editor("publicTime", "DateTime4Bootstrap")
                            </div>
                            @Html.ValidationMessageFor(m => m.publicTime)
                        </div>
                    </div>
                  
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">类型</label>
                              @Html.DropDownListFor(m => m.MessageOpenChoose, DataDictionaryHelper.GetSelectList("信息公开"), new { @class = "form-control" })
                              
                            </div>
                            @Html.ValidationMessageFor(m => m.MessageOpenChoose)
                        </div>
                    </div>
                </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-group">
                    <label class="input-group-addon" for="Title">内容</label>
                    @Html.TextAreaFor(m => m.Content)
                </div>
                @Html.ValidationMessageFor(m => m.Content)
            </div>
        </div>
    </div>
                  <div id="divCatalog" class="displaynone">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <label class="input-group-addon" for="Title">申请目录</label>
                        @Html.TextAreaFor(m => m.Catalog)
                    </div>
                    @Html.ValidationMessageFor(m => m.Catalog)
                </div>
            </div>
        </div>
    </div> 
            }
        </div>
    </div>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="~/Content/js/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="~/Content/js/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('Content');
    var ue = UE.getEditor('Catalog');

    $("#publicTime").click(function () {
        WdatePicker({ dateFmt: 'yyyy-MM-dd', readOnly: true });
    });
    $(function () {
        $("#publicTime").val('@DataDictionaryHelper.GetYYYYMMDD(Model.publicTime)')
        if ($("#MessageOpenChoose").val() == "e2db5409-045b-e711-a815-002564ba5c19") {
            $("#divCatalog").removeClass("displaynone")
        } else {
            $("#divCatalog").addClass("displaynone")
        }
        
    });
    $("#publicName").prop('readonly', 'readonly')


    $("#MessageOpenChoose").change(function () {
        var name = $(this).find("option:selected").text();
        if ("依申请公开" == name) {
            $("#divCatalog").removeClass("displaynone")
        } else {
            $("#divCatalog").addClass("displaynone")
        }
    });
</script>
