    @model Cupcake.Core.IPagedList<Cupcake.Plugin.MessageOpen.Domain.MessageOpenInfo>
    @using Cupcake.Web
    @using Cupcake.Web.Framework
    @using Cupcake.Core.Domain
    @using  Cupcake.Plugin.MessageOpen.Helper
                                      @using Cupcake.Web.Models

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                @{Html.RenderPartial("_WidgetHeader", "信息公开/规定/指南/目录/申请");}
                <div class="widget-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <div class="input-group">
                                    <label class="input-group-addon" for="Title">标题</label>
                                    @Html.Editor("Title", "String4Bootstrap")
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <div class="input-group">
                                    <label class="input-group-addon" for="Title">类别</label>
                                    @Html.Editor("MessageOpenChoose", "Enum4Bootstrap", new { selectList = DataDictionaryHelper.GetSelectList("信息公开") })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group text-right">
                                @Html.ButtonShiny("添加", "fa-plus", "showEditModal1('添加','/MessageOpen/Create')")
                                @Html.ButtonShiny("查找", "fa-search", "loadListView();")
                            </div>
                        </div>
                    }

                    <div class="flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content bordered-palegreen">
                                <tr>
                                    <th>
                                        序号
                                    </th>
                                    <th>
                                        标题
                                    </th>
                                    <th>
                                        发布人
                                    </th>
                                    <th>
                                        发布时间
                                    </th>
                                    <th>
                                        分类
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(i++)
                                        </td>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            @item.publicName
                                        </td>
                                        <td>
                                            @DataDictionaryHelper.GetYYYYMMDD(item.publicTime)
                                        </td>
                                        <td>
                                           
                                            @if (item.MessageOpenChoose != null)
                                            { @DataDictionaryHelper.GetSelectName(item.MessageOpenChoose)}
                                        </td>
                                        <td>
                                            
                                            @Html.ButtonXS("查看", "fa-edit", "showViewModal1('查看','/MessageOpen/Details/" + item.Id + "')")
                                            @Html.ButtonXS("编辑", "fa-edit", "showEditModal1('编辑','/MessageOpen/Edit/" + item.Id + "')")
                                            <button type="button" class="btn btn-danger btn-xs" onclick="dialog('是否删除?','警告','/MessageOpen/Delete/@item.Id')"><i class="fa fa-frown-o"></i> 删 除</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="DTTTFooter text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    function groupLoad(href) {
        $('.page-body').load(href);
    }
    $(document).ready(function () {
        initFormDate();

        var pageInfo = {
            PageIndex: '@Model.Paging.PageIndex',
            PageSize: '@Model.Paging.PageSize',
            Total: '@Model.Paging.Total'
        };
        initPager(".DTTTFooter", pageInfo, loadListView);
    });
    </script>
