@model Cupcake.Plugin.NetInteraction.Models.OnlineInterviewQuestionAskModel
@using Cupcake.Web
@using Cupcake.Web.Models
@using Cupcake.Web.Helper
@using Cupcake.Web.Framework
@using Cupcake.Core.Domain
@using Cupcake.Plugin.NetInteraction
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @using (Ajax.BeginForm(new AjaxOptions { }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">问题</label>
                                @Html.TextAreaFor(model => model.Question, 10, 50, new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Question)
                        </div>
                    </div>


                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">姓名</label>

                                @Html.Editor("Name", "String4Bootstrap")
                            </div>
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">电话</label>

                                @Html.Editor("Phone", "String4Bootstrap")
                            </div>
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">地点</label>

                                @Html.Editor("Address", "String4Bootstrap")
                            </div>
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                    </div>
                </div>




            }
        </div>
    </div>
</div>


