@model Cupcake.Core.IPagedList<Cupcake.Plugin.ImportantNews.Domain.ImportantNewsInfo>
    @using Cupcake.Web
    @using Cupcake.Web.Models
@using Cupcake.Plugin.ImportantNews.Helper
    @using Cupcake.Web.Framework
    @using Cupcake.Core.Domain

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                @{Html.RenderPartial("_WidgetHeader", "要闻动态");}
                <div class="widget-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <div class="input-group">
                                    <label class="input-group-addon" for="Title">标题</label>
                                    @Html.Editor("Title", "String4Bootstrap")
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <div class="input-group">
                                    <label class="input-group-addon" for="NewsType">新闻类型</label>
                                    @Html.Editor("NewsType", "Enum4Bootstrap", new { selectList = DataDictionaryHelper.GetSelectList("新闻类型") })
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="input-group">
                                    <label class="input-group-addon" for="BeginDate">发布时间从</label>
                                    @Html.Editor("BeginDate", "DateTime4Bootstrap")
                                    <label class="input-group-addon">到</label>
                                    @Html.Editor("EndDate", "DateTime4Bootstrap")
                                    <span class="input-group-addon">
                                        @Html.IconFonts("fa-calendar")
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group text-right">
                                @Html.ButtonShiny("添加", "fa-plus", "showEditModal1('添加','/ImportantNews/Create')")
                                @Html.ButtonShiny("查找", "fa-search", "loadListView();")
                            </div>
                        </div>
                    }

                    <div class="flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content bordered-palegreen">
                                <tr>
                                    <th>
                                        序号
                                    </th>
                                    <th>
                                        标题
                                    </th>
                                    <th>
                                        路径ID
                                    </th>
                                    <th>
                                        发布时间
                                    </th>
                                  
                                    <th>
                                        新闻类型
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(i++) </td>
                                        <td style="width:336px ">
                                            @item.Title
                                        </td>
                                        <td>
                                         @item.Id
                                            </td>
                                        <td>
                                            @(CommonHelper.ToYYYYMMDD(item.ReleaseTime))
                                        </td>
                                        <td>
                                            @if (item.NewsType != null) {@DataDictionaryHelper.GetSelectName(item.NewsType)}
                                        </td>
                                        <td>
                                            @Html.ButtonXS("查看", "fa-info", "showViewModal1('查看','/ImportantNews/Details/" + item.Id + "')")
                                            @Html.ButtonXS("编辑", "fa-edit", "showEditModal1('编辑','/ImportantNews/Edit/" + item.Id + "')")
                                            @Html.ButtonXS("删除", "glyphicon-trash", "deleteDialog('/ImportantNews/Delete/" + item.Id + "')", ButtonCss.Danger)
                                         
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="DTTTFooter text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
          //  initFormDate();

            $("#BeginDate").click(function () {
                WdatePicker({ dateFmt: 'yyyy-MM-dd', readOnly: true, maxDate: '#F{$dp.$D(\'EndDate\')||\'2020-10-01\'}' });
            });
            $("#EndDate").click(function () {
                WdatePicker({ dateFmt: 'yyyy-MM-dd', readOnly: true, minDate: '#F{$dp.$D(\'BeginDate\')}', maxDate: '2020-10-01' });
            });

            var pageInfo = {
                PageIndex: '@Model.Paging.PageIndex',
                PageSize: '@Model.Paging.PageSize',
                Total: '@Model.Paging.Total'
            };
            initPager(".DTTTFooter", pageInfo, loadListView);
        });
    </script>
