@model Cupcake.Plugin.MapMessage.Models.MapMessageModel
@using Cupcake.Web
@using Cupcake.Web.Models
@using Cupcake.Web.Helper
@using Cupcake.Web.Framework
@using Cupcake.Core.Domain

<style>
    .displaynone {
        display: none;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @using (Ajax.BeginForm(new AjaxOptions { }))
            {
                @Html.AntiForgeryToken()
                <div class="row">

                    <div class="col-md-6 ">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="NewsType">所属模块</label>
                                @Html.Editor("SortModual", "Enum4Bootstrap", new { selectList = DataDictionaryHelper.GetSelectList("所属模块") })
                                @Html.ValidationMessageFor(m => m.SortModual)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">社会组织名称</label>
                                @Html.EditorFor(m => m.Name)
                            </div>
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="NewsType">类别</label>
                                @Html.Editor("SortType", "Enum4Bootstrap", new { selectList = DataDictionaryHelper.GetSelectList("信息地图类别") })
                                @Html.ValidationMessageFor(m => m.SortType)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">成立时间</label>
                             
                                @Html.Editor("EstablishDate", "DateTime4Bootstrap")
                            </div>
                            @Html.ValidationMessageFor(m => m.EstablishDate)
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="NewsType">登记机关</label>
                                @Html.Editor("RegisterOrganization", "Enum4Bootstrap", new { selectList = DataDictionaryHelper.GetSelectList("登记机关") })
                                @Html.ValidationMessageFor(m => m.RegisterOrganization)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">地址</label>
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", onblur = "GetLD()" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" >经纬度</label>
                                @Html.TextBoxFor(m => m.lng, new { @class = "form-control" ,style="width:80px;" })
                                <span class="form-control" style="width:20px;">-</span>
                                @Html.TextBoxFor(m => m.lat, new { @class = "form-control", style = "width:80px;" })
                            </div>

                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<script>
    function GetLD() {

        var address = $("#Address").val();
        if (address != null && address != "undefined" && address != "") {
            // 创建地址解析器实例
            var myGeo = new BMap.Geocoder();
            // 将地址解析结果显示在地图上,并调整地图视野
            myGeo.getPoint(address, function (point) {
                if (point) {
                    $("#lng").val(point.lng);
                    $("#lat").val(point.lat);
                } else {
                    alert("您选择地址没有解析到结果!");
                }
            }, "上海市");
        }
    }
    $(document).ready(function () {
        $('.fa-save').parent().prop('style', 'display:')
        $("#EstablishDate").val('@Cupcake.Plugin.MapMessage.PluginHelper.GetDateFormatMYD(Model.EstablishDate)')


        $("#EstablishDate").click(function () {
            WdatePicker({ dateFmt: 'yyyy-MM-dd', readOnly: true });
        });

    });


</script>