@model Cupcake.Core.IPagedList<Cupcake.Plugin.PublicService.Domain.RegistrationAuthorityInfo>
    @using Cupcake.Web
    @using Cupcake.Web.Models
    @using Cupcake.Web.Helper
    @using Cupcake.Web.Framework
    @using Cupcake.Core.Domain

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                @{Html.RenderPartial("_WidgetHeader", "登记管理机关");}
                <div class="widget-body">
                    @using (Html.BeginForm())
                {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <div class="input-group">
                                    <label class="input-group-addon" for="NewsType">行政街道</label>
                                    @Html.Editor("ExecutiveStreet", "Enum4Bootstrap", new { selectList = Cupcake.Web.Helper.DataDictionaryHelper.GetSelectList("行政街道") })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group text-right">
                                @Html.ButtonShiny("添加", "fa-plus", "showEditModal1('添加','/RegistrationAuthority/Create')")
                                @Html.ButtonShiny("查找", "fa-search", "loadListView();")
                            </div>
                        </div>
                }

                    <div class="flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content bordered-palegreen">
                                <tr>
                                    @*<th>
                                        行政街道
                                    </th>*@
                                    <th>
                                        办事网点地址
                                    </th>
                                    <th>
                                        咨询电话
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                               {
                                    <tr>
                                        @*<td>
                                            @{
                                             string executiveStreet = string.Empty;
                                             if (item.RegistrationAuthorityType.ToString() == "f9dfd136-3c5d-e711-9354-0023248142a5")
                                               {
                                                   executiveStreet = Cupcake.Web.Helper.DataDictionaryHelper.GetName((Guid)item.ExecutiveStreet);
                                               }
                                            }
                                            @executiveStreet
                                        </td>*@
                                        <td>
                                            @item.Address
                                        </td>
                                        <td>
                                            @item.Telephone
                                        </td>
                                        <td>
                                            @Html.ButtonXS("查看", "fa-edit", "showViewModal1('查看','/RegistrationAuthority/Details/" + item.Id + "')")
                                            @Html.ButtonXS("编辑", "fa-edit", "showEditModal1('编辑','/RegistrationAuthority/Edit/" + item.Id + "')")
                                            @Html.ButtonXS("删除", "glyphicon-trash", "deleteDialog('/RegistrationAuthority/Delete/" + item.Id + "')", ButtonCss.Danger)
                                        </td>
                                    </tr>
                              }
                            </tbody>
                        </table>
                    </div>

                    <div class="DTTTFooter text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            initFormDate();

            var pageInfo = {
                PageIndex: '@Model.Paging.PageIndex',
                PageSize: '@Model.Paging.PageSize',
                Total: '@Model.Paging.Total'
            };
            initPager(".DTTTFooter", pageInfo, loadListView);

            //$("#BeginDate,#EndDate").click(function () {
            //  WdatePicker({ dateFmt: 'yyyy-MM-dd', readOnly: true });
            //});
        });
    </script>
