@model Cupcake.Core.IPagedList<Cupcake.Plugin.NetInteraction.Domain.OnlineCommentsOpinion>
@using Cupcake.Web
@using Cupcake.Web.Framework
@using Cupcake.Core.Domain

<div class="row">
    <div class="col-md-12">
        <div class="widget">
            @{Html.RenderPartial("_WidgetHeader", "在线访谈");}
            <div class="widget-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">主题</label>
                                @Html.Editor("theme", "String4Bootstrap")
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group text-right">
                            @*@Html.ButtonShiny("添加", "fa-plus", "showEditModal1('添加','/SystemMessageInfo/Create')")
                            @Html.ButtonShiny("查找", "fa-search", "loadListView();")*@


                            @Html.ButtonShiny("添加", "fa-plus", "showEditModal1('添加','/OnlineInterview/Create')")
                            @Html.ButtonShiny("查找", "fa-search", "loadListView();")
                        </div>
                    </div>
                }

                <div class="flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content bordered-palegreen">
                            <tr>
                                <th>
                                    序号
                                </th>
                                <th>
                                    主题
                                </th>
                             
                                <th>
                                    创建时间
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @(i++)
                                    </td>
                                    <td>
                                        @item.theme
                                    </td>
                                  
                                    <td>
                                        @item.CreateDate.ToString("yyyy-MM-dd")
                                    </td>
                                    <td>

                                        @Html.ButtonXS("查看", "fa-info", "showViewModal1('查看','/OnlineInterviewQuestionAsk/Details/" + item.Id + "')")

                                        @Html.ButtonXS("编辑", "fa-edit", "showEditModal1('编辑','/OnlineInterviewQuestionAsk/Edit/" + item.Id + "')")
                                        @Html.ButtonXS("在线访谈", "fa-edit", "groupLoad('/OnlineInterviewQuestionAsk/Display/" + item.Id + "')")
                                    
                                        @Html.ButtonXS("删除", "glyphicon-trash", "deleteDialog('/OnlineInterviewQuestionAsk/Delete/" + item.Id + "')", ButtonCss.Danger)

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="DTTTFooter text-right">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // initFormDate();

        var pageInfo = {
            PageIndex: '@Model.Paging.PageIndex',
            PageSize: '@Model.Paging.PageSize',
            Total: '@Model.Paging.Total'
        };
        initPager(".DTTTFooter", pageInfo, loadListView);


        $("#BeginDate").click(function () {
            WdatePicker({ dateFmt: 'yyyy-MM-dd', readOnly: true });
        });
        $("#EndDate").click(function () {
            WdatePicker({ dateFmt: 'yyyy-MM-dd', readOnly: true });
        });

    });
    //置顶对话框
    function PlacedDialog(src, completeCallback) {
        dialog("确定置顶该记录吗?", "提醒", src, completeCallback);
    }
    //取消置顶对话框
    function NoPlacedDialog(src, completeCallback) {
        dialog("确定取消置顶该记录吗?", "提醒", src, completeCallback);
    }
</script>
<script type="text/javascript">
    function groupLoad(href) {

        $('.page-body').load(href);
    }

</script>