@model Cupcake.Core.IPagedList<Role>
@using Cupcake.Web
@using Cupcake.Core.Domain

<div class="row">
    <div class="col-md-12">
        <div class="widget">
            @{Html.RenderPartial("_WidgetHeader", "角色");}
            <div class="widget-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Name">角色名</label>
                                @Html.Editor("Name", "String4Bootstrap")
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="BeginDate">创建时间从</label>
                                @Html.Editor("BeginDate", "DateTime4Bootstrap")
                                <span class="input-group-addon">
                                    @Html.IconFonts("fa-calendar")
                                </span>
                                <label class="input-group-addon">到</label>
                                @Html.Editor("EndDate", "DateTime4Bootstrap")
                                <span class="input-group-addon">
                                    @Html.IconFonts("fa-calendar")
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group text-right">
                            @Html.ButtonShiny("添加", "fa-plus", "showEditModal1('添加角色','/Role/Create')")
                            @Html.ButtonShiny("查找", "fa-search", "loadListView();")
                        </div>
                    </div>
                }

                <div class="flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content bordered-palegreen">
                            <tr>
                                <th>
                                    角色名
                                </th>
                                <th>
                                    描述
                                </th>
                                <th>
                                    创建时间
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Desc
                                    </td>
                                    <td>
                                        @item.CreateDate
                                    </td>
                                    <td>
                                        @Html.ButtonXS("编辑", "fa-edit", "showEditModal1('编辑角色','/Role/Edit/" + item.Id + "')")
                                        @Html.ButtonXS("分配权限", "fa-users", "assignPermissions('" + item.Id + "')")
                                        @Html.ButtonXS("删除", "glyphicon-trash", "deleteDialog('/Role/Delete/" + item.Id + "')", ButtonCss.Danger)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="DTTTFooter text-right">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        initFormDate();

        var pageInfo = {
            PageIndex: '@Model.Paging.PageIndex',
            PageSize: '@Model.Paging.PageSize',
            Total: '@Model.Paging.Total'
        };
        initPager(".DTTTFooter", pageInfo, loadListView);
    });

    function assignPermissions(roleId) {
        var buttonInfos = {
            button1: '@Html.ButtonShiny("保存并关闭", "fa-save", "loadModal(loadListView, @/Role/AssignPermissions@)")'
        }
        showModal1("分配权限", "Tree/RoleView?c=SelectPermissions&roleid=" + roleId, null, buttonInfos);
    }
</script>