@*@model Cupcake.Plugin.NetInteraction.Models.OnlineInterviewModel*@
@model Cupcake.Core.IPagedList<Cupcake.Plugin.NetInteraction.Domain.OnlineInterviewQuestionAsk>
    @using Cupcake.Web
    @using Cupcake.Web.Models
    @using Cupcake.Web.Helper
    @using Cupcake.Web.Framework
    @using Cupcake.Core.Domain
    @using Cupcake.Plugin.NetInteraction
    @using Cupcake.Plugin.NetInteraction.Helper

<script>
   
    $(function () {
        setInterval(function () {
            loadListView();
        }, 60000);
    });

    
</script>


                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="widget">
                                               
                                                  @{Html.RenderPartial("_WidgetHeader", "在线访谈");}
                                                  <div class="widget-body">
                                                

                                                      @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                                                        
                                                                <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">


                                    <div class="input-group">
                                        <label class="input-group-addon" for="Title">主题</label>

                                        <div class="form-control">
                                            @ViewBag.theme

                                        </div>
                                       

                                    </div>

                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">


                                    <div class="input-group">
                                        <label class="input-group-addon" for="Title">嘉宾</label>
                                     
                                        <div class="form-control">
                                            @ViewBag.Guest

                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="input-group-addon" for="Title">时间</label>
                                        <div class="form-control">
                                            @CommonHelper.ToYYYYMMDD(ViewBag.shijian)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">


                                    <div class="input-group">
                                        <label class="input-group-addon" for="Title">地点</label>

                                        <div class="form-control">
                                            @ViewBag.Address

                                        </div>

                                     

                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        
                                        <label class="input-group-addon" for="Title">是否开启网友提问</label>
                                        <div class="form-control">
                                            @if (ViewBag.IsEnabled==true)
                                            {
                                                 @("是")
                                            }
                                            else
                                            {
                                                  @("否")
                                            }
                                           

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="display:none">
                                                              <div class="col-md-12 form-group text-right">

                                                                  @*@Html.ButtonShiny("添加", "fa-plus", "showEditModal1('添加', '/OnlineInterviewQuestionAsk/Create?OnlineInterviewId=" + Model.Id + "')")*@


                                                                  @Html.ButtonShiny("查找", "fa-search", "loadListView();")
                                                              </div>
                                                          </div>
                    }

                                                          <div class="flip-scroll">
                                                              <table class="table table-bordered table-striped table-condensed flip-content">
                                                                  <thead class="flip-content bordered-palegreen">
                                                                      <tr>
                                                                          <th>
                                                                              序号
                                                                          </th>
                                                                          <th>
                                                                              姓名
                                                                          </th>
                                                                          <th>
                                                                              问题
                                                                          </th>
                                                                          <th>
                                                                              提问时间
                                                                          </th>
                                                                          <th>
                                                                              操作
                                                                          </th>
                                                                      </tr>
                                                                  </thead>
                                                                  <tbody>
                                                                      @{int i = 1;}
                                                                      @foreach (var item in Model)
                                    {
                                        <tr>
                                                                              <td>
                                                                                  @(i++)
                                                                              </td>
                                                                              <td>
                                                                                  @item.Name
                                                                              </td>
                                                                              <td>
                                                                                  @if (item.Question != null && item.Question != "")
                                                {
                                                    if (item.Question.Length >= 30)
                                                    {
                                                        string a = "......";
                                                        @(item.Question.Substring(0, 30))
                                                    @a
                                                    }
                                                    else
                                                    {
                                                        @item.Question
                                                    }

                                                }

                                                                              </td>
                                                                              <td>
                                                                                  @item.CreateDate
                                                                              </td>
                                                                              <td>

                                                                                  @Html.ButtonXS("查看", "fa-info", "showViewModal1('查看','/OnlineInterviewQuestionAsk/Details/" + item.Id + "')")

                                                                                  @*@Html.ButtonXS("编辑", "fa-edit", "showEditModal1('编辑','/OnlineInterviewQuestionAsk/Edit/" + item.Id + "')")*@
                                                                                  @Html.ButtonXS("答复", "fa-edit", "showEditModal1('答复','/OnlineInterviewQuestionAsk/Display/" + item.Id + "')")

                                                                                  @Html.ButtonXS("删除", "glyphicon-trash", "deleteDialog('/OnlineInterviewQuestionAsk/Delete/" + item.Id + "')", ButtonCss.Danger)

                                                                              </td>
                                                                          </tr>
                                    }
                                                                  </tbody>
                                                              </table>
                                                          </div>

                                                          <div class="DTTTFooter text-right">
                                                          </div>


                                                  </div>
                                              </div>
                                          </div>
                                      </div>



                                      <script>
                                          $(document).ready(function () {
                                              // initFormDate();

                                              var pageInfo = {
                                                  PageIndex: '@Model.Paging.PageIndex',
                                                  PageSize: '@Model.Paging.PageSize',
                                                  Total: '@Model.Paging.Total'
                                              };
                                              initPager(".DTTTFooter", pageInfo, loadListView);




                                          });

                                  </script>
