@model Cupcake.Core.IPagedList<DataDictionary>
@using Cupcake.Web
@using Cupcake.Web.Models
@using Cupcake.Core.Domain

<div class="row">
    <div class="col-md-12">
        <div class="widget">
            @{Html.RenderPartial("_WidgetHeader", "数据字典");}
            <div class="widget-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Name">名称</label>
                                @Html.Editor("Name", "String4Bootstrap")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group text-right">
                            @Html.ButtonShiny("查找", "fa-search", "loadTreeView();")
                        </div>
                    </div>
                }

                <div class="flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content bordered-palegreen">
                            <tr>
                                <th>
                                    名称
                                </th>
                                <th>
                                    值
                                </th>
                                <th>
                                    提示信息
                                </th>
                                <th>
                                    自定义类型
                                </th>
                                <th>
                                    自定义属性
                                </th>
                                <th>
                                    排序
                                </th>
                                <th>
                                    创建时间
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Value
                                    </td>
                                    <td>
                                        @item.Tips
                                    </td>
                                    <td>
                                        @item.CustomType
                                    </td>
                                    <td>
                                        @item.CustomAttributes
                                    </td>
                                    <td>
                                        @item.Sort
                                    </td>
                                    <td>
                                        @item.CreateDate
                                    </td>
                                    <td>
                                        @Html.ButtonXS("编辑", "fa-edit", "showEditModal1('编辑数据字典','/DataDictionary/Edit/" + item.Id + "',null,'loadModal1(loadTreeView);')")
                                        @Html.ButtonXS("删除", "glyphicon-trash", "deleteDialog('/DataDictionary/Delete/" + item.Id + "',loadTreeView)", ButtonCss.Danger)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="DTTTFooter text-right">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        initFormDate();

        var pageInfo = {
            PageIndex: '@Model.Paging.PageIndex',
            PageSize: '@Model.Paging.PageSize',
            Total: '@Model.Paging.Total'
        };
        initPager(".DTTTFooter", pageInfo, loadTreeView);
    });
</script>
