    @model Cupcake.Core.IPagedList<Cupcake.Plugin.Announcement.Domain.AnnouncementInfo>
    @using Cupcake.Web
    @using Cupcake.Web.Framework
    @using Cupcake.Core.Domain
    @using  Cupcake.Plugin.Announcement.Helper

    <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    @{Html.RenderPartial("_WidgetHeader", "通知");}
                    <div class="widget-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <div class="input-group">
                                        <label class="input-group-addon" for="Title">标题</label>
                                        @Html.Editor("Title", "String4Bootstrap")
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="input-group">
                                        <label class="input-group-addon" for="BeginDate">创建时间从</label>
                                        @Html.Editor("BeginDate", "DateTime4Bootstrap")
                                        <span class="input-group-addon">
                                            @Html.IconFonts("fa-calendar")
                                        </span>
                                        <label class="input-group-addon">到</label>
                                        @Html.Editor("EndDate", "DateTime4Bootstrap")
                                        <span class="input-group-addon">
                                            @Html.IconFonts("fa-calendar")
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group text-right">
                                    @Html.ButtonShiny("添加", "fa-plus", "showEditModal1('添加','/Announcement/Create')")
                                    @Html.ButtonShiny("查找", "fa-search", "loadListView();")
                                </div>
                            </div>
                        }

                        <div class="flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content bordered-palegreen">
                                    <tr>
                                        <th>
                                            序号
                                        </th>
                                        <th>
                                            标题
                                        </th>
                                        <th>
                                            所属组织
                                        </th>
                                        <th>
                                            发布人
                                        </th>
                                        <th>
                                            创建时间
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @(i++)
                                            </td>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>
                                                @DataDictionaryHelper.GetOrganizationName(@item.Department)
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.CreateDate.ToString("yyyy-MM-dd")
                                            </td>
                                            <td>
                                                @Html.ButtonXS("查看", "fa-info", "showViewModal1('查看','/Announcement/Details/" + item.Id + "')")
                                                @Html.ButtonXS("编辑", "fa-edit", "showEditModal1('编辑','/Announcement/Edit/" + item.Id + "')")
                                                @if (item.IsPlaced == 0)
                                                 {
                                                 <button type="button" class="btn btn-danger btn-xs" onclick="PlacedDialog('/Announcement/Placed/@item.Id')"><i class="glyphicon-chevron-up"></i>置 顶</button>
                                                  }
                                                else
                                                {
                                                    <button type="button" class="btn btn-danger btn-xs" onclick="NoPlacedDialog('/Announcement/Placed/@item.Id')"><i class="glyphicon-chevron-up"></i>取消置顶</button>
                                                }
                                               
                                                <button type="button" class="btn btn-danger btn-xs" onclick="deleteDialog('/Announcement/Delete/@item.Id',loadTreeView)"><i class="glyphicon glyphicon-trash"></i> 删 除</button>
                                            
                                               </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="DTTTFooter text-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
               // initFormDate();

                var pageInfo = {
                    PageIndex: '@Model.Paging.PageIndex',
                    PageSize: '@Model.Paging.PageSize',
                    Total: '@Model.Paging.Total'
                };
                initPager(".DTTTFooter", pageInfo, loadListView);


                $("#BeginDate").click(function () {
                    WdatePicker({ dateFmt: 'yyyy-MM-dd', readOnly: true });
                });
                $("#EndDate").click(function () {
                    WdatePicker({ dateFmt: 'yyyy-MM-dd', readOnly: true });
                });

            });
            //置顶对话框
            function PlacedDialog(src, completeCallback) {
                dialog("确定置顶该记录吗?", "提醒", src, completeCallback);              
            }
            //取消置顶对话框
            function NoPlacedDialog(src, completeCallback) {
                dialog("确定取消置顶该记录吗?", "提醒", src, completeCallback);
            }
        </script>
