    @model Cupcake.Plugin.MessageOpen.Models.MessageOpenAnnualModel
    @using Cupcake.Web
    @using Cupcake.Web.Framework
    @using Cupcake.Core.Domain
    @using Cupcake.Plugin.MessageOpen.Helper
@using Cupcake.Web.Models
    <style>
        .displaynone {
            display: none;
        }
    </style>
<style>
    .wrap {
        background: #fff;
        margin: auto;
        display: block;
        width: auto;
        height: auto;
        padding: 20px;
        border-radius: 2px 2px 2px 2px;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }
</style>
    <div class="container-fluid" id="no">
    <div class="row">
        <div class="col-md-12">

            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="Title">标题</label>
                            @Html.EditorFor(m => m.Title)
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="Title">发布人</label>
                            @Html.EditorFor(m => m.publicName)
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="Title">发布时间</label>
                            <span class="form-control">   @DataDictionaryHelper.GetYYYYMMDD(Model.publicTime)</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="Title">所属组织</label>
                            @if (Model.Department != null)
                            {  <div class="form-control"> @DataDictionaryHelper.GetOrganizationName(Model.Department)</div>}
                            else
                            { <div class="form-control"> </div> }

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="Title">内容</label>
                            <div class="wrap">
                                @(new HtmlString(Model.Content))
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#no input").prop('disabled', 'disabled');
</script>