    @model Cupcake.Core.IPagedList<Cupcake.Plugin.MessageOpen.Domain.MessageOpenAnnualInfo>
    @using Cupcake.Web
                                      @using Cupcake.Web.Models
    @using Cupcake.Web.Framework
    @using Cupcake.Core.Domain
    @using Cupcake.Plugin.MessageOpen.Helper

    <div class="row">
    <div class="col-md-12">
        <div class="widget">
            @{Html.RenderPartial("_WidgetHeader", "信息公开年报");}
            <div class="widget-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">标题</label>
                                @Html.Editor("Title", "String4Bootstrap")
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">是否置顶</label>
                                @Html.Editor("IsTop", "Enum4Bootstrap", new { selectList = DataDictionaryHelper.GetSelectList("是否置顶") })
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="Title">所属组织</label>
                                @Html.Editor("Department", "Enum4Bootstrap", new { selectList = DataDictionaryHelper.OrganizationGetSelectList("所属组织") })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group text-right">
                            @Html.ButtonShiny("添加", "fa-plus", "showEditModal1('添加','/MessageOpenAnnual/Create')")
                            @Html.ButtonShiny("查找", "fa-search", "loadListView();")
                        </div>
                    </div>
                }

                <div class="flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content bordered-palegreen">
                            <tr>
                                <th>
                                    序号
                                </th>
                                <th>
                                    标题
                                </th>
                                <th>
                                    发布人
                                </th>
                                <th>
                                    发布时间
                                </th>

                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @(i++)
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.publicName
                                    </td>
                                    <td>
                                         @DataDictionaryHelper.GetYYYYMMDD(item.publicTime)
                                    </td>
                              
                                    <td>

                                        @Html.ButtonXS("查看", "fa-edit", "showViewModal1('查看','/MessageOpenAnnual/Details/" + item.Id + "')")
                                        @Html.ButtonXS("编辑", "fa-edit", "showEditModal1('编辑','/MessageOpenAnnual/Edit/" + item.Id + "')")
                                        @if (item.IsTop == false)
{
    <button type="button" class="btn btn-danger btn-xs" onclick="PlacedDialog('/MessageOpenAnnual/IsTop/@item.Id')"><i class="glyphicon-chevron-up"></i>置 顶</button>
}
else
{
                                            <button type="button" class="btn btn-danger btn-xs" onclick="NoPlacedDialog('/MessageOpenAnnual/IsTop/@item.Id')"><i class="glyphicon-chevron-up"></i>取消置顶</button>
                                        }
                                          <button type="button" class="btn btn-danger btn-xs" onclick="dialog('是否删除?','警告','/MessageOpenAnnual/Delete/@item.Id')"><i class="fa fa-frown-o"></i> 删 除</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="DTTTFooter text-right">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function groupLoad(href) {
        $('.page-body').load(href);
    }
    $(document).ready(function () {
        initFormDate();

        var pageInfo = {
            PageIndex: '@Model.Paging.PageIndex',
            PageSize: '@Model.Paging.PageSize',
            Total: '@Model.Paging.Total'
        };
        initPager(".DTTTFooter", pageInfo, loadListView);
    });
    //置顶对话框
    function PlacedDialog(src, completeCallback) {
        dialog("确定置顶该记录吗?", "提醒", src, completeCallback);
    }
    //取消置顶对话框
    function NoPlacedDialog(src, completeCallback) {
        dialog("确定取消置顶该记录吗?", "提醒", src, completeCallback);
    }
</script>
