@model Cupcake.Core.IPagedList<Cupcake.Plugin.Activity.Domain.ActivityStyle>
@using Cupcake.Web
@using Cupcake.Plugin.Activity.Helper
@using Cupcake.Core.Domain

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                @{Html.RenderPartial("_WidgetHeader", "活动风采");}
                <div class="widget-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="input-group">
                                    <label class="input-group-addon" for="Title">活动名称</label>
                                    @Html.Editor("Title", "String4Bootstrap")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group text-right">
                                <button type="button" class="btn btn-default shiny" onclick="showEditModal1('添加', '/ActivityStyle/Create')"><i class="fa fa-edit"></i> 添加</button>
                                <button type="button" class="btn btn-default shiny" onclick="loadListView();"><i class="fa fa-search"></i> 查 找</button>
                            </div>
                        </div>
                    }

                    <div class="flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content bordered-palegreen">
                                <tr>
                                    <th>
                                        序号
                                    </th>
                                    <th>
                                        活动名称
                                    </th>
                                    <th>
                                        活动地址
                                    </th>
                                    <th>
                                        发布时间
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @(@i += 1)
                                            </td>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>
                                                @item.Address
                                            </td>
                                            <td>
                                                @CommonHelper.ToYYYYMMDD(item.DeliveryTime)
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs" onclick="showViewModal1('查看','/ActivityStyle/Details/@item.Id')"><i class="fa fa-info"></i> 查 看</button>
                                                <button type="button" class="btn btn-default btn-xs" onclick="showEditModal1('编辑','/ActivityStyle/Edit/@item.Id')"><i class="fa fa-edit"></i> 编 辑</button>
                                                @if (item.IsTop == true)
                                                {
                                                    <button type="button" class="btn btn-danger btn-xs" onclick="dialog('是否取消置顶?','警告','/ActivityStyle/UpIsTop?id=@item.Id&IsTop=false')">取消置顶</button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-danger btn-xs" onclick="dialog('是否置顶?','警告','/ActivityStyle/UpIsTop?id=@item.Id&IsTop=true')"> 置顶</button>
                                                }
                                                <button type="button" class="btn btn-danger btn-xs" onclick="dialog('是否删除?','警告','/ActivityStyle/Delete/@item.Id')"><i class="glyphicon glyphicon-trash"></i> 删 除</button>
                                                <button type="button" class="btn btn-default btn-xs" onclick="groupLoad('/Comments/Index?ChildId=@item.Id')"><i class="fa fa-clipboard"></i>留言管理</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="DTTTFooter text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            initFormDate();
            var pageInfo = {
                PageIndex: '@Model.Paging.PageIndex',
                PageSize: '@Model.Paging.PageSize',
                Total: '@Model.Paging.Total'
            };
            initPager(".DTTTFooter", pageInfo, loadListView);
        });

        function groupLoad(href) {
            $('.page-body').load(href);
        }
    </script>
